.box-layout {
    align-items: center;
    background: url('/images/bg.jpg');
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.box-layout__box {
    background: fade-out(white, 0.15);
    border-radius: 5px;
    padding: $size_extra $size_grande;
    text-align: center;
    width: 25rem;
    
}

.box-layout__titulo {

    margin: 0 0 $size_mediana 0 ;
    line-height: 1;
}