.text-input {
    border: 1px solid #cacccd;
    height: 50px;
    font-size: $fuente-grande;
    font-weight: 300;
    padding: $size_peque;

}

.select-input {
    @extend .text-input;

}

.textarea-input {
    @extend .text-input;
    height: 10rem;
}