
// $off_black: #20222b;
// $off_white: #a5afd7;
$gris-oscuro: #333333;
//$azul-fondo: #333745;
// $azul-medio: #3c4251;
$azul-claro: #1c88bf;
$azul-oscuro: #2c2c50;
//$purpura: #8357c5;
$off-white: #f7f7f7;

// tamaño de 
$fuente-grande: 1.8rem;
$fuente-peque: 1.4rem;
//$off_white: #a5afd7; 
// aqui son los espaciado del texto
$size_peque: 1.2rem;
$size_mediana: 1.6rem;
$size_grande: 3.2rem;
$size_extra: 4.8rem;

$desktop_breakpoint: 40rem;
